@import '../abstracts/variables';
@import '../abstracts/mixins';

.header {
  padding: $space-16 0;
  background-color: $gray-blue;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

.nav {
  @include flex-space-between;

  gap: $space-32;
}

.nav-list {
  @include nav-list;

  &__item {
    font-size: $fs16;
    font-weight: $medium;
  }

  &__link {
    display: block;
    color: $white;
    padding: $space-5;
    border-radius: $border-radius-6;
    transition: $transition-all;
  }

  &__calendar {
    display: block;
    width: 33px;
    height: 35px;
  }

  &__icon {
    display: none;
  }
}

.nav-list--header  {
  @include nav-list;
}

.active .nav-list__link {
  background-color: rgb(255 255 255 / 10%);
}

