@import '../abstracts/variables';
@import '../abstracts/mixins';

.card {
  position: relative;

  @include flex-column;

  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-008;
  background-color: $white;
  padding: $space-20;
  border-left: $space-4 solid $blue;
  transition: $transition-all;
  cursor: pointer;

  &__title {
    font-weight: $semibold;
    margin-bottom: $space-8;
    font-size: $fs18;
  }

  &:focus-visible {
    outline: none;
    transform: translateY(-2px);
    box-shadow: $box-shadow-012;
  }
}

.section {
  &__item-content {
    @include flex-column;

    flex: 1;
  }

  &__item-header { 
    @include flex-column-and-sb;

    margin-bottom: $space-16; 
    flex: 1;

    p {
      color: $gray-lightblue;
      font-size: $fs14;
      margin-bottom: $space-5;
    }
  }

  &__item-footer {
    @include flex-space-between;

    align-items: center;
    font-size: $fs14;
    margin-top: auto;

    div:first-child {
      color: $gray-blue;
      font-weight: $medium;
      margin-right: $space-15;
    }

    div:last-child {
      color: $white;
      padding: $space-4 $space-12;
      border-radius: $border-radius-xl;
      font-size: $fs12;
    }
  }

  &__item-progress {
    height: $space-4;
    background: var(--marble);
    border-radius: $space-2;
    overflow: hidden;
  }

  &__item-progress-bar {
    height: 100%;
    transition: $transition-width;
  }

  &__btn-remove {
    position: absolute;
    border: none;
    background: none;
    top: $space-5;
    right: $space-5;
    font-size: $fs20;
    color: transparent;
    text-shadow: 0 0 0 $gray-blue;
    cursor: pointer;
    border-radius: 3px;
    padding: $space-2;
    transition: $transition-all;
  }
}

.shadow {
  box-shadow: 0 0 8px rgb(255 0 0 / 50%)
}
