@import '../abstracts/variables';
@import '../abstracts/mixins';

@media #{$has-hover} {
  .btn:hover {
    outline: none;
    background-color: $dark-blue;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.3)
  }

  .card:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow-012;
  }

  .shadow:hover {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
  }

  .modal__calculator:hover {
    cursor: pointer;
    background-color: $light-gray;
  }

  .modal__push-archive:hover {
    background-color: $gray;
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.1)
  }

  .section__btn-remove:hover,
  .form__btn-remove:hover {
    background-color: $light-gray;
    border-color: $light-gray;
  }

  .form-search__remove img:hover {
    fill: $dark-blue;
    box-shadow: $box-shadow-01;
  }

  .calendar__day:hover { background-color: $very-light-grey; }

  .arrow:hover {
    cursor: pointer;
  }

  .image-preview:hover {
    transform: translateY(-4px);
    box-shadow:
        inset 0 0 0 2px $shadow-blue,
        0 8px 15px rgba(0,0,0,0.1);
  }

  .image-preview:hover img {
    transform: scale(1.05);
  }
}

@media (max-width: $breakpoint-desktop) {
  .header {
    padding-right: $space-10;
    padding-left: $space-10;
  }

  .nav {
    flex-direction: column;
    gap: $space-8;
  }

  .nav-list, .nav-list--header {
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .section, .calendar {
    padding: $space-16;
  }

  .form-search, .section {
    margin-left: $space-10;
    margin-right: $space-10;
  }

  .section__list {
    gap: $space-10;
  }

  .image-preview {
    margin-top: 14px;
  }
}

@media (max-width: $breakpoint-tablet) {
  body {
    font-size: $fs14;
  }

  .btn {
    padding: $space-8 $space-16;
    font-size: $fs14;
  }

  .input-field {
    font-size: $fs12;
    padding: $space-8 $space-12;
  }

  .modal-calendar__close {
    margin-top: auto;
  }

  .form__btn-remove {
    padding: $space-8;
  }

  .nav-list {
    flex-wrap: nowrap;
    gap: $space-8;
    padding: 0;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .nav-list::-webkit-scrollbar {
  height: 0;
  }
  
  .nav-list__item {
    flex-shrink: 0;
  }

  .hero {
    h1 {
    font-size: $fs32;
    }

    p {
    font-size: $fs16;
    }

    &__form.calculator {
    padding: $space-20;
    }
  }
  
  .calculator__title {
    font-size: $fs20;
  }

  .form {
    @include media-section-style;
    justify-content: center;
  }
  

  .section {
    @include media-section-style;

    h2 {
    font-size: $fs20;
    }

    &__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: $space-8;
    }

    .card {
    flex-direction: row;
    gap: $space-12;
    padding: $space-12;
    align-items: flex-start;
    }

    &__item {
    min-width: auto;
    }

    &__item-header p {
    font-size: $fs12;
    }

    &__item-footer {
    margin-top: auto;
    font-size: $fs12;

        div:first-child {
        flex-shrink: 0;
        margin-right: 7px;
        }

        div:last-child {
        font-size: $fs10;
        }
    }

    &__item-content,
    &__item-header {
    @include flex--column;
    flex: 1;
    min-width: 0;
    }
  }

  .modal-calendar .card {
    gap: $space-12;
    padding: $space-12;
  }

  .calendar-item__footer div:last-child {
    font-size: $fs10;
  }

  .card {
    &__title {
        margin: 0;
        font-weight: $medium;
        font-size: 15px;
        padding-right: $space-12;
    }

    .image-preview {
    width: $size-100;
    height: $size-100;
    // min-width: $size-100;
    // min-height: 100%;
    margin: 0;
    flex-shrink: 0;
    }
  }

  .form-search {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: $space-16;

        &__btn {
        width: 100%;
        }
  }

  .section__btn-remove, .form__btn-remove {
    font-size: $fs14;
  }

  .modal.open, .modal-return.open-return, .modal-calendar.open-calendar, .modal-form-calculator.open {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 100%;
    border-radius: 0;
    transform: none;
    justify-content: space-between;
    padding: $space-10;
  }

  .modal-remove.open-remove {
    max-width: 320px;
    max-height: 320px;
  }

  .modal-remove {
    &__title {
      font-size: $fs20;;
    }

    &__descr {
      font-size: $fs16;
    }
  }

  .date-end {
    min-height: 36px;
  }
  
  .expiry-badge {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    align-items: end;
    font-size: $fs10;
  }

  .arrow-back {
    left: $space-10;
    top: 6px;
  }

  .image-preview:not(:has(img))::before {font-size: $fs20;}

  .calendar-item__footer {
    font-size: $fs12;
  }

}


